[Desktop Entry]
Name=YaD Pro
Comment=Unofficial Yandex.Disk client
Exec=yadpro
Icon=yadpro/yadpro.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

